<script>
	$('divA'.removeClass("container"));
</script>


<h1> test</h1> 
<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


	{{#if feedbacks}}    {{!-- from models feedback ,db.define('feedback') --}}
	<div class="card card-body">
		
		<h3 class="text-primary">All Feedbacks</h3>

		<div>
        	<canvas id="myChart" width="500" height="500"></canvas>
    	</div>
  

		<div class="mb-2">
		<input type="text" id="titles" onkeyup="showHint(this.value)">
		</div>
		


		{{#each feedbacks}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			
			<div class="card-body">
			
				<div class="row">
				
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row"> 
							<div class="col-sm-12 col-md-6 col-lg-1">
								<p class="font-italic">Title</p>
								<p class="text-info" id="titles">
									{{Title}}
								</p>	
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4">
								<p class="font-italic">Body</p>
								<p class="text-info"> {{Textfeed}} </p>
								
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4">
								<p class="font-italic">Suggestion</p>
								<p class="text-info">{{Suggestion}}</p>
							</div>
						{{!-- ratings  --}}
							<div class="col-sm-12 col-md-6 col-lg-1">
								<p class="font-italic">Ratings</p>
								<p class="text-info">{{Rating}} / 5</p>
							</div>


							<div class="col-sm-12 col-md-6 col-lg-2">
								<p class="font-italic">Date</p>
								<p class="text-info" >{{formatDate Date 'DD/MM/YYYY' }}</p>  {{!-- formatDate Date 'DD/MM/YYYY' --}}
							</div>

						</div>
					</div>
					{{!-- <div class="col-sm-12 col-md-6 col-lg-2">
						<p class="font-italic"></p>
						<a href="/video/edit/{{id}}" class="card-link">
							<i class="fas fa-pencil-alt"></i>
							Edit
						</a>
						<a href="/video/delete/{{id}}" class="card-link" data-toggle="confirmation"
							data-title="Confirm delete?">
							<i class="far fa-trash-alt"></i>
							Delete
						</a>
					</div> --}}
				</div>
			</div>

		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Transaction History</h3>

	{{/if}}

<div class="btn-toolbar" role="toolbar" style="margin: 0;">
    <div class="btn-group">
        <button type="button" class="btn btn-default color-blue"><i class="fa fa-fast-backward"></i></button>
        <button type="button" class="btn btn-default color-blue"><i class="fa fa-step-backward"></i></button>
        <button type="button" class="btn btn-default text-faded">1 of 12</button>
        <button type="button" class="btn btn-default color-blue"><i class="fa fa-step-forward"></i></button>
        <button type="button" class="btn btn-default color-blue"><i class="fa fa-fast-forward"></i></button>
    </div>
</div>

{{!-- 
<script>
function showHint(str) {
  var xhttp;
  if (str.length == 0) { 
    document.getElementById("titles").innerHTML = "";
    return;
  }
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("titles").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "gethint.asp?q="+str, true);
  xhttp.send();
}
</script> --}}