<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<link rel="stylesheet" href="/public/css/Addfeedback.css">

<body style="background-color:#5cdb95;">
	<div class="container">
		<div class="card card-body" style="background-color:#ebeae4;">

			<h3>Edit Feedback Form</h3>
			<p>( Please tell us what do you think. Any kind of feedback is highly appreciated. )</p>
			<br>
			{{!-- Feedback routes path --}}
			<form action="/Feedback/saveEditedfeedback/{{feedbacks.id}}?_method=PUT" method="post" id="Addfeedback">

				<div class="form-group">
					<label class="font-italic" for="Title">Title:</label>
					<textarea class="form-control" id="Title" name="Title" rows="1" placeholder="Title" maxlength="300"
						required>{{feedbacks.Title}}</textarea>
				</div>
				<div class="form-group mb-4">
					<label class="font-italic" for="Textfeed">Comments:</label>
					<textarea class="form-control" id="Textfeed" name="Textfeed" rows="6" placeholder="Your feedback"
						maxlength="2000" required>{{feedbacks.Textfeed}}</textarea>
				</div>
				<div class="form-group mb-4">
					<label class="font-italic" for="Suggestion">How can we improve our service? Suggestion?</label>
					<textarea class="form-control" id="Suggestion" name="Suggestion" rows="6" placeholder="Sugeestion"
						maxlength="2000" required>{{feedbacks.Suggestion}}</textarea>
				</div>

				<div class="form-group">
					<div class="row mb-2">
						<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
							<label class="font-italic">Date: </label>
							<input id="datepicker" width="200" name="Date" value="{{Date}}" readonly required />
						</div>


						<div class="col-sm-12 col-md-5 col-lg-5">

							<label class="font-italic">Ratings out of 5</label>
							<br>
							{{!-- 		<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" id="myChart" value="0" name="Rating" required>
					<label class="form-check-label" for="0">0</label>
				</div> --}}
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="myChart" value="1" name="Rating"
									required>
								<label class="form-check-label" for="1">1</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="myChart" value="2" name="Rating"
									required>
								<label class="form-check-label" for="2">2</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="myChart" value="3" name="Rating"
									required>
								<label class="form-check-label" for="3">3</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="myChart" value="4" name="Rating"
									required>
								<label class="form-check-label" for="4">4</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="myChart" value="5" name="Rating"
									required>
								<label class="form-check-label" for="5">5</label>
							</div>

						</div>
					</div>
				</div>
				<br>
				<button id="Submit" type="submit" class="btn btn-primary"> Submit </button>

			</form>
		</div>
	</div>
</body>
<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('en-SG'),
		uiLibrary: 'bootstrap4',
	});
</script>