<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4"></h1>
		<H1>Strawberry Money Tracker</H1>
	</div>
	<br>
</div>
{{#if user}}

{{else}}
	{{#if feedbacks}}
	{{#each feedbacks}}
	<div class="container">
			<div class="card border-primary mb-2 w-100 mx-auto">

				<div class="card-body" style="background-color: white;">
					{{!-- <div class="row"> --}}
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-8">
								{{!-- ratings  --}}
								{{!-- <p class="font-italic">Ratings</p> --}}
								{{!-- <div class="row"> --}}
								{{#ifEquals Rating "5"}}
								<i class="fa fa-star" style="color: #ffc700;"  id="myChart" value="1" title="1 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="2" title="2 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="3" title="3 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="4" title="4 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="5" title="5 Stars"></i>
								{{/ifEquals}}
								{{#ifEquals Rating "4"}}
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="1" title="1 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="2" title="2 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="3" title="3 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="4" title="4 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="5" title="5 Stars"></i>
								{{/ifEquals}}
								{{#ifEquals Rating "3"}}
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="1" title="1 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="2" title="2 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="3" title="3 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="4" title="4 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="5" title="5 Stars"></i>
								{{/ifEquals}}
								{{#ifEquals Rating "2"}}
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="1" title="1 Stars"></i>
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="2" title="2 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="3" title="3 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="4" title="4 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="5" title="5 Stars"></i>
								{{/ifEquals}}
								{{#ifEquals Rating "1"}}
								<i class="fa fa-star" style="color: #ffc700;" id="myChart" value="1" title="1 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="2" title="2 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="3" title="3 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="4" title="4 Stars"></i>
								<i class="fa fa-star" style="color: grey;" id="myChart" value="5" title="5 Stars"></i>
								{{/ifEquals}}
								&nbsp; &nbsp; &nbsp;
								<p class="text-info" id="myChart">{{Rating}} out of 5 Stars</p>
								{{!-- </div> --}}
							</div>

							<div class="col-sm-12 col-md-12 col-lg-4">
								<h4 title="Username" class="text-info" id="titles" style="float:right;">
									{{UserName}}
								</h4>
							</div>
						</div>
					</div>
					<hr>
					{{!-- </div> --}}
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-2">
							<p class="font-italic">Title:</p>
							<p class="text-info" id="titles">
								{{Title}}
							</p>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-8">
							<p class="font-italic">Comments:</p>
							<p class="text-info"> {{Textfeed}} </p>

							<p class="font-italic">Suggestion:</p>
							<p class="text-info">{{Suggestion}}</p>

						</div>


						<div class="col-sm-12 col-md-6 col-lg-2">
							<p class="font-italic">Date:</p>
							<p class="text-info">{{formatDate Date 'DD/MM/YYYY' }}</p>
							{{!-- formatDate Date 'DD/MM/YYYY' --}}

						</div>
					</div>
				</div>
			</div>
		</div>

	{{/each}}
	{{else}}
	</div>
	<h3>No Feedback Recorded yet</h3>
	</div>
	{{/if}}
{{/if}}