<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
	{{#if dashboard}}
	<div class="card card-body">
		<h3 class="text-primary">Transaction HHH</h3>
		{{#each dashboard}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			{{!-- <div class="card-header">
				<h5 class="card-title">{{title}}</h5>
			</div> --}}
			<div class="card-body">
				{{!-- Practical 09 Exercise 02 --}}
				<div class="row">
					{{!-- <div class="col-sm-12 col-md-12 col-lg-2">
						<a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
						</a>
					</div> --}}
					<div class="col-sm-12 col-md-12 col-lg-8">
						<div class="row"> {{!-- subtitles, language... --}}
							<div class="col-sm-12 col-md-6 col-lg-3">
								<p class="font-italic">Name</p>
								<p class="text-info">
									{{Name}}
								</p>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4">
								<p class="font-italic">Amount</p>
								<p class="text-info">
								<p> $	{{Amount}} </p>
								</p>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-2">
								<p class="font-italic">Tags</p>
								<p class="text-info">{{Tags}}</p>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-3">
								<p class="font-italic">Date</p>
								<p class="text-info">{{Date}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-10">
								<p class="font-italic">Notes</p>
								<p class="text-info">{{Notes}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-10">
								<p class="font-italic">Type</p>
								<p class="text-info">{{PlusMinus}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-2">
						<p class="font-italic"></p>
						<a href="/video/edit/{{id}}" class="card-link">
							<i class="fas fa-pencil-alt"></i>
							Edit
						</a>
						<a href="/transactionH/delete/{{id}}" class="card-link" data-toggle="confirmation"
							data-title="Confirm delete?">
							<i class="far fa-trash-alt"></i>
							Delete
						</a>
					</div>
				</div>
			</div>

			{{!-- <div class="accordion" id="storyAccordion{{id}}">
				<div class="card-header" id="headingOne{{id}}">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne{{id}}"
						aria-expanded="false" aria-controls="collapseOne{{id}}">
						Story<i class="fas fa-chevron-down"></i>
					</button>

				</div>
			</div> --}}
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Transaction History</h3>
	{{/if}}
</div>