<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
{{!-- <link rel="stylesheet" href="/css/ModalsTransaction"> --}}
{{!-- 

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  --}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"
	integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->
{{!-- 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
	type='text/css'> --}}


{{!-- 
<script> // script for modals
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal 
	btn.onclick = function () {
		modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function () {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script> --}}
<style>
a.button {
    appearance: button;

    text-decoration: none;
   
	padding:5px 5px 5px 5px;
	background-color:rgb(0, 140, 255);
	color:white;
	border-radius: 8px;
}
a.button:hover {
  background-color:rgb(0, 4, 255); 
  color: white;
}



</style>

<body>
	{{!-- <div class="container"> --}}
	{{#if dashboard}}
	<!-- Trigger/Open The Modal -->
	{{!-- <button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p>Some text in the Modal..</p>
	</div>

</div> --}}

	<div class="card card-body" style="background-color:white;" {{!-- outer grey colored box --}}>

		<h3 class="text-primary">Transaction History</h3>
		<div class="form-group">
			<div class="row mb-2">
				{{!-- <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-4">
					<label class="font-italic"> Start Date </label>
					<input style="border-color:blue;" id="StartDate" class="datepicker" width="200" name="StartDate"
						value="{{Date}}" readonly required />
				</div> --}}
				{{!-- in between --}}
				<div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-4">
					<label class="font-italic"> End Date / Show All Transactions (before) this input date. </label>
					<input title="( Show All Transactions (till) this input date. )"style="border-color:blue;" id="EndDate" class="datepicker2" width="200" name="EndDate"
						value="{{Date}}" readonly required />
				</div>
			</div>
		</div>

		{{!-- 	<div class="mb-2">
			<input type="Search" id="titles" onkeyup="showHint(this.value)">
		</div>
		 --}}
		<div class="row">
			<input id="query" class="col-sm-12 col-md-12 col-lg-2" placeholder="Search Name"></input>
			<input id="search" type="button" value="search" />
		</div>



		{{!-- <div class="card card-body"> --}}
			<h3 class="text-primary">Transactions</h3>
			<div id="card" >
				{{!-- search output shown here --}}

			</div>
		{{!-- </div> --}}

		{{!-- 
<div class="col-md-10 col-md-offset-1"> --}}

		<div class="panel panel-default panel-table">
			<div class="panel-heading">
				<div class="row">
					<div class="col col-xs-6">
						<h3 class="panel-title">Panel Heading</h3>
					</div>
					<div class="col col-xs-6 text-right">
						
						<a href="/dashboard/dashboard" class="button">Create New</a>
					</div>
				</div>
			</div>

			<table style="display: block; height: 300px; overflow-y: auto;" class="table table-striped table-bordered table-list table-responsive">
				<thead>
					<tr>
						<th><em class="fa fa-cog"></em></th>
						<th>Name</th>
						<th>Notes</th>
						<th>Tags</th>
						<th>Amount</th>
						<th>Type</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>

					{{!-- table below --}}
					{{#each dashboard}}

					<tr>
						<td align="center">
							{{!-- <i>
							<a href="/dashboard/delete/{{id}}"  data-toggle="confirmation"
                            data-title="Confirm delete?" class="btn btn-danger"><em class="fa fa-trash"></em></a>
						</i> --}}
							<a href="/delete/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt" style="color:red;"></i>
						</td>
						<th>{{Name}}</th>
						<th>{{Notes}}</th>
						<th>{{Tags}}</th>
						<th>${{Amount}}</th>
						<th>{{PlusMinus}}</th>
						<th>{{formatDate Date 'DD/MM/YYYY'}}</th>
					</tr>

					{{/each}}
				</tbody>
			</table>
		</div>
		{{!-- </div>  --}}
	</div>

	
	{{!-- </div> --}}


	{{else}} <h3>No Transaction History</h3>
	{{/if}}

</body>

{{!-- "/video/search/ajax/" + query --}}
{{!-- class datepicker --}}
<script>
	$('.datepicker').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('en-SG'),
		uiLibrary: 'bootstrap4',
	});
	$('.datepicker2').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('en-SG'),
		uiLibrary: 'bootstrap4',
	});
</script>

<script>

	function format_date(string) {
		// moment.locale('en-SG');
		var formattedDate = moment(string, 'DD/MM/YYYY').add(1, 'days');// new Date(string, "dd/mm/yyyy");		input // moment(string,'DD/MM/YYYY')
		return formattedDate.format("YYYY-MM-DD");			// output
	}
	$(document).ready(function () {

		$("#search").click(function () {
			console.log("hit");
			var query = $("#query").val();
			var StartDate = format_date($("#StartDate").val());  // fprmat it to yyyy-mm-dd
			var EndDate = format_date($("#EndDate").val());
			$.ajax({
				url: "/transactionH/search/" + query + "/" + StartDate + "/" + EndDate,
				type: "GET",
				success: function (data) {
					console.log(data);
					var dashboards = data.dashboard;
					$("#card").html("");
					$.each(dashboards, function (index, dashboard) {
						var row = `
							
						<table class="table table-striped table-bordered table-list table-responsive">
							<thead>
								<tr>
									<th><em class="fa fa-cog"></em></th>
									<th>Name</th>
									<th>Notes</th>
									<th>Tags</th>
									<th>Amount</th>
									<th>Type</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>		
								<tr>
									<td align="center">
										<a href="/dashboard/delete/{{id}}" class="card-link" data-toggle="confirmation"
											data-title="Confirm delete?">
											<i class="far fa-trash-alt" style="color:red;"></i>
									</td>
									<th>${dashboard.Name}</th>
									<th>${dashboard.Notes}</th>
									<th>${dashboard.Tags}</th>
									<th>${dashboard.Amount}</th>
									<th>${dashboard.PlusMinus}</th>
									<th>${dashboard.Date}</th>
								</tr>
							</tbody>
						</table>	
							`
						console.log(row);
						$("#card").append(row);
					})
				}
			})
		})
	})
</script>




{{!-- pagination --}}{{!-- 
<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
	<ul class="pagination">
		<li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example"
				data-dt-idx="0" tabindex="0">Previous</a></li>
		<li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
		</li>
		<li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">2</a></li>
		<li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0">3</a></li>
		<li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0">4</a></li>
		<li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="5" tabindex="0">5</a></li>
		<li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="6" tabindex="0">6</a></li>
		<li class="paginate_button next" id="example_next"><a href="#" aria-controls="example" data-dt-idx="7"
				tabindex="0">Next</a></li>
	</ul>
</div> --}}