<style>
    .whew:focus {
        outline: none;
    }

    .whew:active {
        outline-style: dotted;
        outline-color: gold;
        outline-offset: -4px;
    }

    * {
        font-size: 15px;
        color: Black;
    }

    .content {
        padding: 0 1rem 1rem;
    }

    .content>header {
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: flex-end;
    }

    .content>header h1 {
        flex: auto;
        margin: 1rem 0 0.25rem 0;
    }

    .content:last-child {
        margin-bottom: 0;
    }

    .content form {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
    }

    .content label {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .content input,
    .content textarea {
        margin-bottom: 1em;
    }

    .content textarea {
        min-height: 12em;
        resize: vertical;
    }
</style>
<br>
<br>
<form action="/user/saveEditedProfile/{{user.id}}?_method=PUT" method="post">
    <div>
        {{#ifEquals imgURL ""}}
        <!--left col-->
        <div class="col-sm-3" style=float:left>
            <input type="file" id="imgUpload" name="imgUpload" accept="image/png,
					image/jpeg,image/jpg,image/gif">
            <img id="img" src="public\img\no-image.jpg" alt="" class="border img-thumbnail img-fluid"
                style="height:95%;width:100%">
            <h6>Choose your own profile picture!</h6>
            <input id="imgURL" type="hidden" name="imgURL">
            <div class="font-weight-bold text-danger small" id="imgErr" style="display: :none"></div>
        </div>
        {{else}}
        <div class="col-sm-3" style=float:left>
            <input type="file" id="imgUpload" name="imgUpload" accept="image/png,
					image/jpeg,image/jpg,image/gif">
            <img id="img" src={{user.imgURL}} alt="" class="border img-thumbnail img-fluid"
                style="height:95%;width:100%">
            <h6>Choose your own profile picture!</h6>
            <input id="imgURL" type="hidden" name="imgURL">
            <div class="font-weight-bold text-danger small" id="imgErr" style="display: :none"></div>
        </div>
        {{/ifEquals}}

        <div class="row">

            <ul class="nav nav-tabs" style=float:right>
                <li class="active">Account Info</li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="username">
                                <h4>Name</h4>
                            </label>
                            <input type="text" class="form-control" name="name" id="name" value="{{user.name}}"
                                placeholder="Name">
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="email">
                                <h4>Email</h4>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" value="{{user.email}}"
                                placeholder="Email" size="60px">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="password">
                                <h4>Password</h4>
                            </label>
                            <input type="password" class="form-control" name="password" id="password"
                                value="{{user.password}}" placeholder="Password"> <input type="button" class="whew"
                                onclick="showPass()" value="Show/Hide Password"
                                style="background-color: white; border: none;">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i
                                    class="glyphicon glyphicon-ok-sign"></i>
                                Update</button>

                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                Reset</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</form>

<script>
    function showPass() {
        if (document.getElementById('password').type == 'password') {
            document.getElementById('password').type = 'text';
        }
        else {
            document.getElementById('password').type = 'password'
        }
    }

</script>