<link rel="stylesheet" href="/css/dashboard.css">
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<div id="BigDiv">
    <div id="containerNetWorth">
        <div class="card text-center">
            <div class="card-header NetWorthHeader">
                Net Worth
                <!-- Insert Total of all amount here -->
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne" style="text-align: center">
                                Bank Account (Total Amount)
                                <!--Insert Total Amount here -->
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                
                            {{#if dashboard}}
                                    {{#each dashboard}}
                                    <div class="card border-primary mb-2 w-100 mx-auto">
                                        <div class="card-header">
                                            <p class="card-title">Checking or Savings: {{CheckorSave}}</p>
                                            <p class="card-title">Amount: {{Amount}}</p>
                                            <p class="card-title">Tags: {{Tags}}</p>
                                            <p class="card-title">Notes: {{Notes}}</p>
                                            <p class="card-title">Date: {{Date}}</p>
                                        </div>
                                        </div>
                                        {{/each}}

                                    {{else}}
                                    <h3>No payments yet</h3>
                                {{/if}}

                        <div class="card-body">
                            <h5 class="card-title">Checking</h5>
                            <p class="card-text">$145.00</p>
                            <!--  ===When user clicks to add something under Bank Account===
        </div>
                </div>
               <div class="card-body">
            <h5 class="card-title">Checking</h5>
            <p class="card-text">$145.00</p>
           
        </div>
        -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="NewTransactionBox">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Expense')">Expense</button>
            <div class="buttonspacing"></div>
            <button class="tablinks" onclick="openCity(event, 'Transfer')">Transfer</button>
            <div class="buttonspacing"></div>
            <button class="tablinks" onclick="openCity(event, 'Income')">Income</button>
        </div>

        <!-- Tab content -->
        <div id="Expense" class="tabcontent">
                <form method="post" action="../dashboard/dashboard"> 
                    <div class="form-group">
                        <label for="name">Checkings or Savings</label>
                        <input type="text" class="" name="CheckorSave" value="{{CheckorSave}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Amount</label>
                        <input type="text" class="" name="Amount" value="{{Amount}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Tags</label>
                        <input type="text" class="" name="Tags" value="{{Tags}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Notes</label>
                        <input type="text" class="" name="Notes" value="{{Notes}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Date</label>
                        <input type="text" class="" name="Date" value="{{Date}}" required>
                    </div>
                        <button type="submit" class="btn btn-primary">Submit</button> 
                </form>
        </div>
          <!-- Tab content -->
        <div id="Transfer" class="tabcontent">
            <p>From<p>
                    <form action="/action_page.php">
                        <select name="">
                            <option value="">Checking</option>
                            <option value="">Savings</option>
                            <!-- <option value=""></option>
                        <option value=""></option> -->
                        </select>
                        <br><br>

                    </form>
                      <form action="/action_page.php">
                            <input type="text" name="" value="Amount">
                            <br>
                        </form>
                    <p>Tags</p>
                    <form action="/action_page.php">
                        <select name="">
                            <option value="">Groceries</option>
                            <option value="">Clothes</option>
                            <!-- <option value=""></option>
                        <option value=""></option> -->
                        </select>
                        <br><br>
                        <form action="/action_page.php">
                            <input type="text" name="" value="Notes">
                            <br>
                        </form>
                    </form>
                      <form action="/action_page.php">
                            <input type="text" name="" value="Date">
                            <br>
                        </form>
                        <button type="submit" form="form1" value="Submit">Submit</button>
        </div>
          <!-- Tab content -->
        <div id="Income" class="tabcontent">
            <p>From<p>
                    <form action="/action_page.php">
                        <select name="">
                            <option value="">Checking</option>
                            <option value="">Savings</option>
                            <!-- <option value=""></option>
                        <option value=""></option> -->
                        </select>
                        <br><br>

                    </form>
                      <form action="/action_page.php">
                            <input type="text" name="" value="Amount">
                            <br>
                        </form>
                    <p>Tags</p>
                    <form action="/action_page.php">
                        <select name="">
                            <option value="">Groceries</option>
                            <option value="">Clothes</option>
                            <!-- <option value=""></option>
                        <option value=""></option> -->
                        </select>
                        <br><br>
                        <form action="/action_page.php">
                            <input type="text" name="" value="Notes">
                            <br>
                        </form>
                    </form>
                      <form action="/action_page.php">
                            <input type="text" name="" value="Date">
                            <br>
                        </form>
                        <button type="submit" form="form1" value="Submit">Submit</button>
        </div>

    </div>

</div>