<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->

<div class="container">
	{{#if users}}
	<div class="card card-body">
		<h3 class="text-primary">Bills</h3>
		{{#each users}}
		<div class="card border-primary mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">Age: {{Age}}</h5>
                <h5 class="card-title">Monthly income: {{MonthlyIncome}}</h5>
                <h5 class="card-title">Plan to save monthly: {{MonthlySave}}</h5>
                <h5 class="card-title">Living expense: {{Living}}</h5>
                <h5 class="card-title">Food expense: {{Food}}</h5>
                <h5 class="card-title">Hobbies/Others: {{Hobbies}}</h5>
		    </div>
        	</div>
            {{/each}}
        </div>
	    {{else}}
	    <h3>No budgeting set up</h3>
	{{/if}}
</div>