<link rel="stylesheet" href="/css/ZhiJian.css">

<div id="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h2 class="text-center">Complete your account (Budgeting)</h2>
                <p>Fill up this form to allow us to manage and compare your budget.</p>
                <p>We will keep track of your progress and notify you if you are going off budget.</p>
                <form action="/user/saveeditbudget/{{user.id}}?_method=PUT" method="post">
                    <div class="form-group">
                        <label for="name">Age</label>
                        <input type="text" class="" name="Age" value="{{Age}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Monthly income</label>
                        <input type="text" class="" name="MonthlyIncome" value="{{MonthlyIncome}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Plan to save (Monthly)</label>
                        <input type="text" class="" name="MonthlySave" value="{{MonthlySave}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Monthly living expense</label>
                        <input type="text" class="" name="Living" value="{{Living}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Monthly food expense</label>
                        <input type="text" class="" name="Food" value="{{Food}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Hobbies/Others</label>
                        <input type="text" class="" name="Hobbies" value="{{Hobbies}}" required>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-italic">Date of payment</label>
						<input id="datepicker" width="200" name="dateDue" value="{{dateDue}}" readonly required/>
					</div>
                        <button type="submit" class="btn btn-primary">Submit</button> 
                        <form action="/user/">
                        <a class="btn btn-primary" href="/user/budgetskip">Complete you account later</a>
                        </form>
                </form>
            </div>
        </div>
    </div>
</div>